body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  margin: 0 auto;
  width: 100%;
  min-width: 880px; }

main {
  background: #ffffff;
  width: auto; }

h1 {
  display: inline-flex;
  font-size: 40px;
  width: 710px;
  text-align: center;
  padding-bottom: 56px;
  padding-top: 23px;
  margin-left: 85px;
  font-weight: 500; }

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500; }

h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400; }

legend {
  margin-left: -3px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400; }

header {
  background: #eeeeee;
  width: auto; }

a {
  text-transform: uppercase;
  text-decoration: none; }

.btn-sm {
  border-radius: 3px;
  color: #eeeeee;
  background: #fb565a;
  font-size: 12px;
  padding: 11px 20px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-sm:focus, .btn-sm:hover {
    background: #fa2429; }
  .btn-sm:active {
    background: #e6050b; }
.btn-md {
  border-radius: 3px;
  color: #eeeeee;
  background: #fb565a;
  font-size: 12px;
  padding: 12px 52px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-md:focus, .btn-md:hover {
    background: #fa2429; }
  .btn-md:active {
    background: #e6050b; }
.btn-lg {
  border-radius: 3px;
  color: #eeeeee;
  background: #fb565a;
  font-size: 12px;
  padding: 11px 70px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-lg:focus, .btn-lg:hover {
    background: #fa2429; }
  .btn-lg:active {
    background: #e6050b; }
.btn-xl {
  border-radius: 3px;
  color: #eeeeee;
  background: #fb565a;
  font-size: 12px;
  padding: 11px 180px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-xl:focus, .btn-xl:hover {
    background: #fa2429; }
  .btn-xl:active {
    background: #e6050b; }
.btn-green {
  border-radius: 3px;
  color: #eeeeee;
  background: #00ca74;
  font-size: 12px;
  padding: 11px 20px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-green:focus, .btn-green:hover {
    background: #009757; }
  .btn-green:active {
    background: #006439; }
.btn-yellow {
  border-radius: 3px;
  color: #eeeeee;
  background: #efc84a;
  font-size: 12px;
  padding: 11px 20px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-yellow:focus, .btn-yellow:hover {
    background: #ebba1b; }
  .btn-yellow:active {
    background: #c29811; }
.btn-graphite {
  border-radius: 3px;
  color: #eeeeee;
  background: #efc84a;
  font-size: 12px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-graphite:focus, .btn-graphite:hover {
    background: #ebba1b; }
  .btn-graphite:active {
    background: #c29811; }

.slider {
  width: 880px;
  position: relative;
  min-height: 310px;
  overflow: hidden; }
  .sliderControls {
    position: absolute;
    bottom: 94px;
    left: 430px;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 10; }
    .sliderControls label {
      display: inline-block;
      width: 4px;
      height: 4px;
      margin: 0 3px;
      vertical-align: top;
      background: #fff;
      border: 3px solid white;
      border-radius: 50%;
      cursor: pointer; }
  .sliderWrapper {
    width: 100%; }
  .sliderItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: left 1.3s ease;
    -moz-transition: left 1.3s ease;
    transition: left 1.3s ease;
    background: no-repeat 100% 10px; }
    .sliderItemDescription {
      padding: 30px 0;
      width: 380px; }
      .sliderItemDescription > p {
        margin-top: -10px;
        font-size: 16px;
        line-height: 22px;
        color: #283136; }
      .sliderItemDescription > h2 {
        margin: 0; }
    .sliderItem:nth-child(1) {
      min-height: 310px;
      background: url("../img/slider-picture-1.png") no-repeat 100% 11px; }
    .sliderItem:nth-child(2) {
      min-height: 310px;
      background: url("../img/slider-picture-2.png") no-repeat 100% 13px; }
    .sliderItem:nth-child(3) {
      min-height: 310px;
      background: url("../img/slider-picture-3.png") no-repeat 100% -10px; }
  .slider input[type="radio"] {
    display: none; }

#btn-1:checked ~ .sliderWrapper .sliderItem:nth-child(1) {
  left: 0; }

#btn-1:checked ~ .sliderWrapper .sliderItem:nth-child(2),
#btn-1:checked ~ .sliderWrapper .sliderItem:nth-child(3) {
  left: 900px; }

#btn-2:checked ~ .sliderWrapper .sliderItem:nth-child(1) {
  left: -900px; }

#btn-2:checked ~ .sliderWrapper .sliderItem:nth-child(2) {
  left: 0; }

#btn-2:checked ~ .sliderWrapper .sliderItem:nth-child(3) {
  left: 900px; }

#btn-3:checked ~ .sliderWrapper .sliderItem:nth-child(1),
#btn-3:checked ~ .sliderWrapper .sliderItem:nth-child(2) {
  left: -900px; }

#btn-3:checked ~ .sliderWrapper .sliderItem:nth-child(3) {
  left: 0; }

#btn-1:checked ~ .sliderControls label[for="btn-1"],
#btn-2:checked ~ .sliderControls label[for="btn-2"],
#btn-3:checked ~ .sliderControls label[for="btn-3"] {
  background: #c1c1c1; }

.header {
  width: 100%;
  background: #eeeeee;
  display: flex;
  flex-flow: column nowrap;
  justify-content: initial;
  align-content: initial;
  align-items: center; }
  .headerNav {
    display: flex;
    width: 880px;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: initial;
    align-items: center;
    flex: 1 0 100%;
    padding-bottom: 60px; }
    .headerNavLeft {
      display: flex;
      flex: 1; }
    .headerNavRight {
      display: flex;
      flex-flow: row wrap;
      flex: 1 0 560px;
      justify-content: flex-end;
      align-content: initial;
      align-items: center; }
    .headerNavCart {
      font-size: 14px;
      padding-left: 70px;
      cursor: pointer;
      color: black;
      position: relative;
      align-self: flex-end; }
      .headerNavCart:hover {
        color: #fa6064; }
        .headerNavCart:hover::before {
          background: url("../img/cart-2.png") no-repeat; }
      .headerNavCart:focus {
        color: #fa6064; }
        .headerNavCart:focus::before {
          background: url("../img/cart-3.png") no-repeat; }
      .headerNavCart:active {
        color: #a8a8a8; }
        .headerNavCart:active::before {
          background: url("../img/cart-4.png") no-repeat; }
      .headerNavCart::before {
        content: "";
        background: url("../img/cart-1.png") no-repeat;
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: baseline;
        margin-right: 10px; }
    .headerNavItem {
      font-size: 14px;
      margin-left: 42px;
      color: #000000;
      transition: color 0.3s; }
      .headerNavItem:focus, .headerNavItem:hover {
        color: #fc888b; }
      .headerNavItem:active {
        color: #a8a8a8; }
      .headerNavItem:first-child {
        margin-left: 0; }
      .headerNavItem-active {
        border-bottom: 2px solid #fb565a;
        margin-left: 45px;
        color: #000000;
        transition: color 0.3s; }
        .headerNavItem-active:focus, .headerNavItem-active:hover {
          color: #fc888b; }
        .headerNavItem-active:active {
          color: #a8a8a8; }

.content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: initial;
  align-content: initial;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
