@charset "UTF-8";
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  margin: 0 auto;
  width: 100%;
  min-width: 880px; }

main {
  background: #ffffff;
  width: auto; }

h1 {
  display: inline-flex;
  font-size: 40px;
  width: 710px;
  text-align: center;
  padding-bottom: 56px;
  padding-top: 23px;
  margin-left: 85px;
  font-weight: 500; }

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 500; }

h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400; }

legend {
  margin-left: -3px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400; }

header {
  background: #eeeeee;
  width: auto; }

a {
  text-transform: uppercase;
  text-decoration: none; }

.btn-sm {
  border-radius: 3px;
  color: #eeeeee;
  background: #fb565a;
  font-size: 12px;
  padding: 11px 20px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-sm:focus, .btn-sm:hover {
    background: #fa2429; }
  .btn-sm:active {
    background: #e6050b; }
.btn-md {
  border-radius: 3px;
  color: #eeeeee;
  background: #fb565a;
  font-size: 12px;
  padding: 12px 52px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-md:focus, .btn-md:hover {
    background: #fa2429; }
  .btn-md:active {
    background: #e6050b; }
.btn-lg {
  border-radius: 3px;
  color: #eeeeee;
  background: #fb565a;
  font-size: 12px;
  padding: 11px 70px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-lg:focus, .btn-lg:hover {
    background: #fa2429; }
  .btn-lg:active {
    background: #e6050b; }
.btn-xl {
  border-radius: 3px;
  color: #eeeeee;
  background: #fb565a;
  font-size: 12px;
  padding: 11px 180px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-xl:focus, .btn-xl:hover {
    background: #fa2429; }
  .btn-xl:active {
    background: #e6050b; }
.btn-green {
  border-radius: 3px;
  color: #eeeeee;
  background: #00ca74;
  font-size: 12px;
  padding: 11px 20px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-green:focus, .btn-green:hover {
    background: #009757; }
  .btn-green:active {
    background: #006439; }
.btn-yellow {
  border-radius: 3px;
  color: #eeeeee;
  background: #efc84a;
  font-size: 12px;
  padding: 11px 20px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-yellow:focus, .btn-yellow:hover {
    background: #ebba1b; }
  .btn-yellow:active {
    background: #c29811; }
.btn-graphite {
  border-radius: 3px;
  color: #eeeeee;
  background: #efc84a;
  font-size: 12px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s; }
  .btn-graphite:focus, .btn-graphite:hover {
    background: #ebba1b; }
  .btn-graphite:active {
    background: #c29811; }

.slider {
  width: 880px;
  position: relative;
  min-height: 310px;
  overflow: hidden; }
  .sliderControls {
    position: absolute;
    bottom: 94px;
    left: 430px;
    width: 200px;
    height: 10px;
    margin-left: -80px;
    text-align: center;
    z-index: 10; }
    .sliderControls label {
      display: inline-block;
      width: 4px;
      height: 4px;
      margin: 0 3px;
      vertical-align: top;
      background: #fff;
      border: 3px solid white;
      border-radius: 50%;
      cursor: pointer; }
  .sliderWrapper {
    width: 100%; }
  .sliderItem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: left 1.3s ease;
    -moz-transition: left 1.3s ease;
    transition: left 1.3s ease;
    background: no-repeat 100% 10px; }
    .sliderItemDescription {
      width: 470px; }
      .sliderItemDescription > p {
        margin-top: -10px;
        font-size: 16px;
        line-height: 22px;
        color: #283136; }
    .sliderItem:nth-child(1) {
      min-height: 310px;
      background: url("../img/slider-picture-1.png") no-repeat 100% 8px; }
    .sliderItem:nth-child(2) {
      min-height: 310px;
      background: url("../img/slider-picture-2.png") no-repeat 100% 9px; }
    .sliderItem:nth-child(3) {
      min-height: 310px;
      background: url("../img/slider-picture-3.png") no-repeat 100% -10px; }
  .slider input[type="radio"] {
    display: none; }

#btn-1:checked ~ .sliderWrapper .sliderItem:nth-child(1) {
  left: 0; }

#btn-1:checked ~ .sliderWrapper .sliderItem:nth-child(2),
#btn-1:checked ~ .sliderWrapper .sliderItem:nth-child(3) {
  left: 900px; }

#btn-2:checked ~ .sliderWrapper .sliderItem:nth-child(1) {
  left: -900px; }

#btn-2:checked ~ .sliderWrapper .sliderItem:nth-child(2) {
  left: 0; }

#btn-2:checked ~ .sliderWrapper .sliderItem:nth-child(3) {
  left: 900px; }

#btn-3:checked ~ .sliderWrapper .sliderItem:nth-child(1),
#btn-3:checked ~ .sliderWrapper .sliderItem:nth-child(2) {
  left: -900px; }

#btn-3:checked ~ .sliderWrapper .sliderItem:nth-child(3) {
  left: 0; }

#btn-1:checked ~ .sliderControls label[for="btn-1"],
#btn-2:checked ~ .sliderControls label[for="btn-2"],
#btn-3:checked ~ .sliderControls label[for="btn-3"] {
  background: #c1c1c1; }

.header {
  width: 100%;
  background: #eeeeee;
  display: flex;
  flex-flow: column nowrap;
  justify-content: initial;
  align-content: initial;
  align-items: center; }
  .headerNav {
    display: flex;
    width: 880px;
    margin: 0 auto;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: initial;
    align-items: center;
    flex: 1 0 100%;
    padding-bottom: 32px; }
    .headerNavLeft {
      display: flex;
      flex: 1;
      padding-top: 22px; }
    .headerNavRight {
      display: flex;
      flex-flow: row wrap;
      flex: 1 0 560px;
      justify-content: flex-end;
      align-content: initial;
      align-items: center;
      margin-top: 40px; }
    .headerNavCart {
      font-size: 14px;
      padding-left: 70px;
      cursor: pointer;
      color: black;
      position: relative;
      align-self: flex-end; }
      .headerNavCart:hover {
        color: #fa6064; }
        .headerNavCart:hover::before {
          background: url("../img/cart-2.png") no-repeat; }
      .headerNavCart:focus {
        color: #fa6064; }
        .headerNavCart:focus::before {
          background: url("../img/cart-3.png") no-repeat; }
      .headerNavCart:active {
        color: #a8a8a8; }
        .headerNavCart:active::before {
          background: url("../img/cart-4.png") no-repeat; }
      .headerNavCart::before {
        content: "";
        background: url("../img/cart-1.png") no-repeat;
        display: inline-block;
        width: 14px;
        height: 14px;
        vertical-align: baseline;
        margin-right: 10px; }
    .headerNavItem {
      font-size: 14px;
      margin-left: 42px;
      color: #000000;
      transition: color 0.3s; }
      .headerNavItem:focus, .headerNavItem:hover {
        color: #fc888b; }
      .headerNavItem:active {
        color: #a8a8a8; }
      .headerNavItem:first-child {
        margin-left: 0; }
      .headerNavItem-active {
        border-bottom: 2px solid #fb565a;
        margin-left: 45px;
        color: #000000;
        transition: color 0.3s; }
        .headerNavItem-active:focus, .headerNavItem-active:hover {
          color: #fc888b; }
        .headerNavItem-active:active {
          color: #a8a8a8; }

.content {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: initial;
  align-content: initial;
  align-items: center; }

.service {
  display: flex;
  width: 880px;
  margin: 0 auto;
  justify-content: space-between;
  align-content: initial;
  align-items: center;
  flex: 1 0 100%;
  flex-flow: row;
  padding-top: 80px;
  padding-bottom: 90px;
  border-bottom: 2px solid #eeeeee; }

.service p {
  font-size: 15px;
  line-height: 22px;
  margin-top: -5px;
  margin-bottom: 33px;
  color: #283136; }

.shortDescription {
  display: flex;
  width: 880px;
  margin: 0 auto;
  justify-content: space-between;
  align-content: initial;
  align-items: center;
  flex: 1 0 100%;
  flex-flow: row;
  padding-top: 60px;
  padding-bottom: 45px;
  border-bottom: 2px solid #eeeeee; }
  .shortDescriptionOne {
    flex-basis: 640px; }
    .shortDescriptionOneHeader > h2 {
      margin-top: 8px; }
    .shortDescriptionOneHeader > p {
      margin-top: -11px;
      color: #283136;
      font-size: 16px;
      line-height: 22px; }
    .shortDescriptionOneAbout {
      color: #283136; }
      .shortDescriptionOneAbout > h4 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin-top: 42px;
        margin-bottom: 22px; }
      .shortDescriptionOneAbout > ul {
        list-style: none;
        padding-left: 0;
        font-size: 16px;
        line-height: 22px; }
        .shortDescriptionOneAbout > ul > li {
          background: url("../img/list-style.png") no-repeat left center;
          padding-left: 30px;
          margin-bottom: 25px; }
  .shortDescriptionTwo {
    flex-basis: 240px; }
    .shortDescriptionTwoLogo > a {
      flex: 100%;
      padding-left: 30px; }
    .shortDescriptionTwoHow {
      color: #283136; }
      .shortDescriptionTwoHow > h4 {
        margin-top: -5px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 22px; }
      .shortDescriptionTwoHow > ul {
        list-style: none;
        padding-left: 0;
        font-size: 16px;
        line-height: 22px; }
        .shortDescriptionTwoHow > ul > li {
          background: url("../img/list-style.png") no-repeat left center;
          padding-left: 30px;
          margin-bottom: 23px; }

.main-date {
  position: relative;
  padding-top: 21px;
  padding-bottom: 66px;
  text-align: center; }
  .main-date::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;
    width: 65px;
    border: 1px solid #eeeeee; }
  .main-date::after {
    content: "";
    position: absolute;
    top: 28px;
    right: 0;
    width: 62px;
    border: 1px solid #eeeeee; }

.partners-logo {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  padding-top: 40px;
  padding-bottom: 27px;
  border-bottom: 2px solid #eeeeee; }

.glukhanko {
  background: url("../img/glukhanko-logo.png") no-repeat;
  width: 198px;
  height: 37px;
  display: flex;
  margin-left: 13px; }
  .glukhanko:hover, .glukhanko:focus {
    background: url("../img/glukhanko-logo-hover.png") no-repeat; }

.html-academy {
  background: url("../img/htmlacademy-logo.png") no-repeat;
  width: 199px;
  height: 68px;
  display: flex;
  margin-left: 121px; }
  .html-academy:hover, .html-academy:focus {
    background: url("../img/htmlacademy-logo-hover.png") no-repeat; }

.borodinski {
  background: url("../img/borodinski-logo.png") no-repeat;
  width: 209px;
  height: 98px;
  display: flex;
  margin-left: 121px; }
  .borodinski:hover, .borodinski:focus {
    background: url("../img/borodinski-logo-hover.png") no-repeat; }

.map {
  position: relative;
  background: url("../img/map.png") no-repeat;
  width: 1199px;
  height: 416px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78px;
  margin-top: 90px; }
  .mapPointer {
    margin-left: 830px;
    margin-top: 120px; }
  .mapContact {
    position: absolute;
    left: 160px;
    top: 90px;
    width: 250px;
    height: 240px;
    background-color: white; }
    .mapContactTitle {
      font-size: 16px;
      line-height: 30px;
      text-transform: uppercase;
      padding-left: 21px;
      padding-top: 24px;
      padding-bottom: 10px; }
    .mapContactAddress {
      font-size: 16px;
      line-height: 20px;
      color: #666666;
      font-weight: 400;
      padding-left: 22px;
      padding-right: 27px; }
    .mapContactPhone {
      font-size: 16px;
      line-height: 20px;
      color: #666666;
      font-weight: 400;
      padding-left: 22px;
      padding-right: 27px;
      padding-top: 23px;
      padding-bottom: 34px; }
    .mapContactBtn {
      margin-left: 20px; }

/*pop-up/* */
.modal-content {
  position: relative;
  top: -84%;
  left: 23%;
  font-size: 16px;
  line-height: 18px;
  width: 470px;
  padding-left: 83px;
  padding-right: 90px;
  padding-top: 56px;
  padding-bottom: 49px;
  background-color: white;
  color: #000000;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none; }

.modal-content-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 41px;
  height: 41px;
  font-size: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #fb565a;
  border-radius: 20px; }

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 6px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 1px; }

.modal-content-close::before {
  transform: rotate(45deg); }

.modal-content-close::after {
  transform: rotate(-45deg); }

.write-us-form input {
  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase; }

.write-us-form {
  display: flex;
  flex-wrap: wrap; }

.your-name {
  order: 1;
  margin-right: 163px;
  margin-bottom: 10px; }

.your-name-input {
  order: 3;
  margin-right: 19px;
  margin-bottom: 21px;
  width: 215px;
  border-radius: 3px;
  border: 2px solid #d7dcde; }
  .your-name-input:hover {
    border: 2px solid #a2a9ac; }
  .your-name-input:focus, .your-name-input:active {
    border: 2px solid #56bffb; }

.your-e-mail {
  order: 2;
  margin-bottom: 10px; }

.your-e-mail-input {
  order: 4;
  width: 215px;
  margin-bottom: 21px;
  border-radius: 3px;
  border: 2px solid #d7dcde; }
  .your-e-mail-input:hover {
    border: 2px solid #a2a9ac; }
  .your-e-mail-input:focus, .your-e-mail-input:active {
    border: 2px solid #56bffb; }

.text-message {
  order: 5;
  margin-bottom: 10px; }

.text-message-input {
  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  order: 6;
  width: 455px;
  padding-bottom: 93px;
  margin-bottom: 49px;
  border-radius: 3px;
  border: 2px solid #d7dcde; }
  .text-message-input:hover {
    border: 2px solid #a2a9ac; }
  .text-message-input:focus, .text-message-input:active {
    border: 2px solid #56bffb; }

.btn-xl {
  order: 7;
  width: 460px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  padding-top: 14px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #eeeeee;
  border: none;
  border-radius: 5px; }

.pekus {
  display: flex;
  width: 880px;
  background: green;
  flex-wrap: wrap; }

.social {
  display: flex;
  flex-basis: 320px;
  list-style: none;
  background: blue; }

.discount {
  display: flex;
  flex-basis: 560px;
  flex-wrap: wrap;
  background: red; }
  .discount > h2 {
    margin: 0; }

.vk {
  background: url("../img/vk.png") no-repeat;
  width: 63px;
  height: 62px;
  display: flex; }
  .vk:hover, .vk:focus {
    background: url("../img/vk-hover.png") no-repeat; }
  .vk:active {
    background: url("../img/vk-click.png") no-repeat; }

.facebook {
  background: url("../img/face.png") no-repeat;
  width: 63px;
  height: 62px;
  display: flex;
  margin-left: 27px; }
  .facebook:hover, .facebook:focus {
    background: url("../img/face-hover.png") no-repeat; }
  .facebook:active {
    background: url("../img/face-click.png") no-repeat; }

.instagram {
  background: url("../img/insta.png") no-repeat;
  width: 63px;
  height: 62px;
  display: flex;
  margin-left: 27px; }
  .instagram:hover, .instagram:focus {
    background: url("../img/insta-hover.png") no-repeat; }
  .instagram:active {
    background: url("../img/insta-click.png") no-repeat; }

/*╤Б╨║╨╕╨┤╨║╨╕/* */
.pekus {
  display: flex;
  width: 880px;
  background: green;
  flex-wrap: wrap; }
  .pekussocial {
    display: flex;
    flex-basis: 320px;
    list-style: none;
    order: 1;
    background: blue; }
  .pekusdiscount {
    display: flex;
    flex-basis: 560px;
    order: 2;
    background: red; }
    .pekusdiscount > h2 {
      margin: 20px; }

/*# sourceMappingURL=style.css.map */
