.map
  background: url("../img/map-background.jpg") no-repeat
  background-position: center
  height: 416px
  margin-bottom: 76px
  margin-left: auto
  margin-right: auto
.map-contact
  position: relative
  left: 50%
  margin-left: -440px
  top: 20%
  width: 250px
  height: 240px
  background-color: white
.map-contact-title
  color: $colorBlack
  font-size: 16px
  line-height: 30px
  text-transform: uppercase
  padding-left: 21px
  padding-top: 24px
  padding-bottom: 10px
.map-contact-address
  font-size: 16px
  line-height: 20px
  color: #666666
  font-weight: 400
  padding-left: 20px
  padding-right: 27px
.map-contact-phone
  color: #666666
  font-size: 16px
  line-height: 20px
  font-weight: 400
  padding-left: 22px
  padding-right: 27px
  padding-top: 23px
  padding-bottom: 34px
.map-contact-btn
  margin-left: 20px


