.partners-logo
  display: inline-flex
  align-items: center
  list-style-type: none
  padding-top: 40px
  padding-bottom: 27px
  border-bottom: 2px solid $colorGraphite

.glukhanko
  background: url("../img/glukhanko-logo.png") no-repeat
  width: 198px
  height: 37px
  display: flex
  margin-left: 13px
  &:hover,
  &:focus
    background: url("../img/glukhanko-logo-hover.png") no-repeat
.html-academy
  background: url("../img/htmlacademy-logo.png") no-repeat
  width: 199px
  height: 68px
  display: flex
  margin-left: 121px
  &:hover,
  &:focus
    background: url("../img/htmlacademy-logo-hover.png") no-repeat
.borodinski
  background: url("../img/borodinski-logo.png") no-repeat
  width: 209px
  height: 98px
  display: flex
  margin-left: 121px
  &:hover,
  &:focus
    background: url("../img/borodinski-logo-hover.png") no-repeat

