.social
  display: flex
  width: 880px
  flex-wrap: wrap
.icons
  display: flex
  flex-basis: 320px
  list-style: none
.discount
  display: flex
  flex-basis: 560px
  flex-wrap: wrap
  > h2
    margin: 0
.vk
  background: url("../img/vk.png") no-repeat
  width: 63px
  height: 62px
  display: flex
  &:hover,
  &:focus
    background: url("../img/vk-hover.png") no-repeat
  &:active
    background: url("../img/vk-click.png")no-repeat
.facebook
  background: url("../img/face.png")no-repeat
  width: 63px
  height: 62px
  display: flex
  margin-left: 27px
  &:hover,
  &:focus
    background: url("../img/face-hover.png")no-repeat
  &:active
    background: url("../img/face-click.png")no-repeat
.instagram
  background: url("../img/insta.png")no-repeat
  width: 63px
  height: 62px
  display: flex
  margin-left: 27px
  &:hover,
  &:focus
    background: url("../img/insta-hover.png")no-repeat
  &:active
    background: url("../img/insta-click.png")no-repeat
/*скидки/*


