.sort-type
  position: relative
.sort-type-title
  font-size: 12px
  line-height: 18px
  text-transform: uppercase
  margin-right: 41px
.sort-type a
  font-size: 12px
  line-height: 18px
  text-decoration: none
  text-transform: uppercase
  border-bottom: 1px dotted #00ca74
  color: #b2b2b2
  &:hover,
  &:focus
    color: #000000
    border-bottom: 1px solid #00ca74
  &:active
    color: #000000
    border-bottom: none
.sort-type a:nth-child(2)
  margin-right: 45px
.sort-type a:nth-child(3)
  margin-right: 47px
.sort-type a:nth-child(4)
  margin-right: 103px
/*sort-direction*/
.sort-direction-up
  position: relative
  left: 100%
  top: -14px
  width: 0
  height: 0
  border-bottom: 11px solid #c1c1c1
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  &:hover,
  &:focus
    border-bottom: 11px solid #b5b5b5
  &:active
    border-bottom: 11px solid #000000
.sort-direction-down
  position: relative
  left: 98%
  top: -24px
  width: 0
  height: 0
  border-top: 11px solid #c1c1c1
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  &:hover,
  &:focus
    border-top: 11px solid #b5b5b5
  &:active
    border-top: 11px solid #000000
.sort-direction-down-active
  border-top: 11px solid green
