.features-filter
  border: none
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex
  flex-wrap: wrap
  padding-left: 0
  margin-top: -5px
.features-filter-item
  font-size: 16px
  line-height: 20px
  color: #283136
  margin-bottom: 20px
  &:hover
    color: #000000
  .features-filter input[type="checkbox"]
  margin-right: 30px
